@import "_common"
@import "_header"
@import '_sidebar'

$width = 900px
$primaryColor = rgba(230, 112, 112, 0.95)
$primaryColorFaded = rgba(230, 112, 112, 0.35)

#header
    position relative

#header-right
    position: absolute;
    right: 180px;

#hero
    text-align center
    padding 20px 0
    #logo    
        margin 30px auto 50px auto
        width 80px
        opacity 0.8
        display block
    #project_name
        font-size 88px
        display block
    #subtitle
        font-size 26px
        margin 35px 0
        display block

#actions
    text-align center
    margin 10px

.primary-btn,  .secondary-btn
    font-weight bold
    border-radius 30px
    padding 10px 35px
    text-transform uppercase
    cursor pointer
    letter-spacing .1em
    font-size 1.2em
    border 1px solid $primaryColor
    margin 0 8px

.primary-btn
    background $primaryColor
    color white

.secondary-btn
    color $primaryColor

hr
    margin-top 85px
    border 1px solid $primaryColorFaded

.tagline
    text-align center
    margin-top 80px
    font-size 1.5em

.highlight.homepage
    width 320px
    padding 0 75px 0 75px
    font-size 1.4em
    margin 70px auto 0 auto
    .code pre
        padding-bottom 0

.footer
    padding 80px 0
    margin-top 110px
    color white
    background $primaryColor
    text-align center
    

@media screen and (max-width: $width)
    body
        -webkit-text-size-adjust none
        font-size 14px

    #hero
        #project_name
            font-size 58px
        #subtitle
            font-size 20px
            margin 25px 0
    .primary-btn, .secondary-btn
        font-size .9em

    .highlight.homepage
        width 220px
        padding 0 75px 0 45px
        font-size 1.2em

    body #mobile-bar .title
        display none

    
