<% var isIndex = page.path === 'index.html' %>
<div class="title">
  <a href="/" class="header-link">
    <img id="logo" src="/images/logo.svg" />
    <span id="project_name"><%= config.title %></span>
  </a>
  <% if (!isIndex) { %>
    <%- partial('partials/version_dropdown') %>
  <% } %>
</div>