<div class="version-dropdown">
  <% 
    var versions = site.pages.reduce(function(vers, p) {
      var v = p.path.split('/')[0];
      if (vers.indexOf(v) === -1) {
        vers.push(v)
      }
      return vers;
    }, []);
  %>
  <% if (versions.length > 1) { %>
    <div class="nav-dropdown-container">
      <a class="nav-link"><span id="version"><%= page.path.split('/')[0] %></span></a><span class="arrow"></span>
      <ul class="nav-dropdown">
        <li>
          <ul>
            <%
              versions.forEach(function(v) { %>
              <li><a href="/<%= v %>/"><%= v %></a></li>
            <% }) %>
          </ul>
        </li>
      </ul>
    </div>
  <% } else { %>
    <span id="version"><%= page.path.split('/')[0] %></span>
  <% } %>
</div>